h1{
    /* color: red; */
    /* color: #f00; */
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 50px;
}

/* Universal selector */ 
/* *{
    color: red; 


} 
*/
/* Tag selector / element selector */
h3{
    color: green;
    
}

/* attribute selector */
a[title="google"]{
    color: yellowgreen;
    text-decoration: none;
}

/* id selector */
#idselector{
    text-indent: 40px;
    font-size: 20px;
    word-spacing: 20px;
    letter-spacing: 2px;
    line-height: 40px;
}

/* class selector */
.classselector{
    color: brown;
    letter-spacing: 2px;
}

/* Descendent Selector */
#desc a{
    color: purple;
}

/* child selector */
#child > a{
    color: purple;
}

/* Pseudo Selector */
.pseudo:link{
    text-decoration: none;
}
.pseudo:hover{
    text-decoration: underline;
    color: red;
}
.pseudo:active{
    color: green;
}
.pseudo:visited{
    color: yellow;
}

/* Target */
p:target{
    border: 1px solid red;
    color:green;
}

/* border */
.borderone{
    border: 5px dotted red;
}
.bordertwo{
    border-top: 10px double green;
    border-bottom: 10px double red;
}
.borderstyle{
    border-style: solid;
}
.borderstylemix{
    /* border-style: solid ; //  all four side */
    /* border-style: solid dotted;  // t&b  l&r */
    /* border-style: solid dashed double;  // top  left&right  bottom */
    border-style: double solid dashed dotted; /* top right bottom left*/
}
.borderwidth{
    border-width: 5px 3px 5px 3px;
    border-style: solid;
    border-color: brown;
}

/* Margin  */
.marginone{
    /* margin: 50px;  // all four */
    margin: 100px 50px;
    border: 2px solid red;
}
.margintwo{
    margin-top: 20px;
    border: 2px solid green;
}

/* padding */
.padding{
    /* padding:50px 100px 20px 150px; */
    padding-top: 50px;
    border: 2px solid red;
}

/* layout */
.inline{
    border: 1px solid red;
    width: 400px;
    /* display: block; */
    display: inline-block;
}

.block{
    border: 1px solid brown;
    width: 400px;
    display: inline;

}

/* Float */
.float-left img{
    width: 40%;
    float: left;

}
.clear{
    clear: both;
}
.float-right img{
    width: 40%;
    margin-top: 50px;
    float: right;
}

/* Gird */
.girdone div, .girdtwo div, .girdthree div, .girdfour div{
    padding: 20px;
    text-align: center;
    color: white;
}
.girdone, .girdtwo, .girdthree,.girdfour{
    display: grid;
    grid-template-columns: auto auto auto ;
}
.girdtwo{
    /* grid-column-gap: 30px; */
    /* grid-row-gap: 30px; */
    grid-gap: 30px;
}
.rowadd{
    grid-row-start: 1;
    grid-row-end: 3;
}
.columnadd{
    grid-column-start: 2;
    grid-column-end: 4;
}

/* Position */
.relative-parent{
    border: 1px solid red;
    width: 1000px;
    height: 400px;
}
.relative{
    border: 1px solid green;
    width: 300px;
    height: 200px;
    position: relative;
    top: 30px;
    left: 40px;
}

.absolute-parent{
    border: 1px solid brown;
    width: 1000px;
    height: 400px;
    position: relative;
}
.absolute{
    border: 1px solid yellow;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 100px;
    right: 200px;
}

.fixed{
    position:fixed;
    top: 100px;
    right: 100px;
}

/* Fonts */
.online{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

@font-face {
    font-family: pacifico;
    src: url(Pacifico/Pacifico-Regular.ttf);
}
.offline{
    font-family: pacifico;
}